<section class="main">
    <div class="categories">
        <h1>Создание дохода/расхода</h1>
            <div class="form-group">
                <select class="form-select" type="text">
                    <option value="income" selected>Доход</option>
                    <option value="expenses">Расход</option>
                </select>
                <select class="form-select" type="text">
                    <option value="income" selected>Депозиты</option>
                    <option value="income">Зарплата</option>
                    <option value="income">Сбережения</option>
                    <option value="income">Инвестиции</option>
                </select>
                <input type="text" placeholder="Сумма в $...">
                <div class="form-error">Введите сумму</div>
                <input type="text" placeholder="Дата...">
                <div class="form-error">Введите дату</div>
                <input type="text" placeholder="Комментарий...">
            </div>
            <div class="form-actions">
                <button type="button" class="btn-create">Создать</button>
                <button type="button" class="btn-delete">Отмена</button>
            </div>
    </div>
</section>
