<section class="main">
        <div class="categories">
            <h1>Главная</h1>
            <div class="filter-buttons">
                <button class="btn-filter active" id="filter-today">Сегодня</button>
                <button class="btn-filter" id="filter-week">Неделя</button>
                <button class="btn-filter" id="filter-month">Месяц</button>
                <button class="btn-filter" id="filter-year">Год</button>
                <button class="btn-filter" id="filter-all">Все</button>
                <button class="btn-filter" id="filter-interval">Интервал</button>
                <span>с <input type="date" id="dateFrom"> по <input type="date" id="dateTo"></span>
            </div>
            <div id="interval-error" class="form-error-interval">Выберите обе даты для фильтрации по интервалу!</div>

            <div class="chart">
                <div class="chart-income">
                    <div class="income-title text-center mb-2">Доходы</div>
                    <div>
                        <canvas class="canvas" id="myIncome"></canvas>
                    </div>
                </div>
                <div class="vr m-3"></div>
                    <div class="chart-expenses">
                        <div class="expenses-title text-center mb-2">Расходы</div>
                        <div>
                            <canvas class="canvas" id="myExpenses"></canvas>
                        </div>
                    </div>
            </div>
        </div>
</section>
