<div class="categories">
    <h1>Доходы</h1>
        <div class="categories-blocks" id="incomes"></div>
    <div class="popup-container" id="popup">
        <div class="popup">
            Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
            <div class="button-popup">
                <a href="/income" class="btn-create-popup" id="confirmDeleteButton">Да, удалить</a>
                <a href="/income" class="btn-delete-popup" id="cancelDeleteButton">Не удалять</a>
            </div>
        </div>
    </div>
</div>

