<section class="main">
    <div class="categories">
        <h1>Создание категории доходов</h1>
        <div class="form-group">
            <input type="text" placeholder="Название..." id="incomeCreateInput">
        </div>
        <div class="form-error" id="income-create-error">Заполните поле</div>
        <div class="form-actions">
            <button type="button" class="btn-create" id="createButton">Создать</button>
            <a href="/income" class="btn-delete">Отмена</a>
        </div>
    </div>
</section>
