<section class="main">
    <div class="categories">
        <h1>Расходы</h1>
        <div class="categories-blocks">
            <div class="categories-block">
                <h3>Еда</h3>
                <a href="/expenses-edit" class="btn-edit">Редактировать</a>
                <button class="btn-delete">Удалить</button>
            </div>
            <div class="categories-block">
                <h3>Жильё</h3>
                <a href="/expenses-edit" class="btn-edit">Редактировать</a>
                <button class="btn-delete">Удалить</button>
            </div>
            <div class="categories-block">
                <h3>Здоровье</h3>
                <a href="/expenses-edit" class="btn-edit">Редактировать</a>
                <button class="btn-delete">Удалить</button>
            </div>
            <div class="categories-block">
                <h3>Кафе</h3>
                <a href="/expenses-edit" class="btn-edit">Редактировать</a>
                <button class="btn-delete">Удалить</button>
            </div>
            <div class="categories-block">
                <h3>Авто</h3>
                <a href="/expenses-edit" class="btn-edit">Редактировать</a>
                <button class="btn-delete">Удалить</button>
            </div>
            <div class="categories-block">
                <h3>Одежда</h3>
                <a href="/expenses-edit" class="btn-edit">Редактировать</a>
                <button class="btn-delete">Удалить</button>
            </div>
            <div class="categories-block">
                <h3>Развлечения</h3>
                <a href="/expenses-edit" class="btn-edit">Редактировать</a>
                <button class="btn-delete">Удалить</button>
            </div>
            <div class="categories-block">
                <h3>Счета</h3>
                <a href="/expenses-edit" class="btn-edit">Редактировать</a>
                <button class="btn-delete">Удалить</button>
            </div>
            <div class="categories-block">
                <h3>Спорт</h3>
                <a href="/expenses-edit" class="btn-edit">Редактировать</a>
                <button class="btn-delete">Удалить</button>
            </div>
            <a href="/expenses-create"> <div class="categories-block add-new"><span>+</span></div></a>
        </div>
    </div>
</section>
