<section class="main">
    <div class="categories">
        <h1>Редактирование дохода/расхода</h1>
        <div class="form-group">
            <select class="form-select" type="text" id="typeSelect">
                <option value="income">Доход</option>
                <option value="expense">Расход</option>
            </select>
            <select class="form-select" type="text" id="categorySelect"></select>
            <input type="text" placeholder="Сумма в $..." id="amountInput">
            <div class="form-error" id="amountError">Введите сумму</div>
            <input type="date" placeholder="Дата..." id="dateInput">
            <div class="form-error" id="dateError">Введите дату</div>
            <input type="text" placeholder="Комментарий..." id="commentInput">
            <div class="form-error" id="commentError">Введите комментарий</div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn-create" id="updateButton">Сохранить</button>
            <a href="/incomes-expenses" class="btn-delete">Отмена</a>
        </div>
    </div>
</section>
