<section class="main">
    <div class="categories">
            <h1>Доходы и расходы</h1>
            <div class="action-buttons">
                <a href="/incomes-expenses-create" class="create-income">Создать доход</a>
                <a href="/incomes-expenses-create" class="create-expense">Создать расход</a>
            </div>
            <div class="filter-buttons">
                <button class="btn-filter active" id="filter-today">Сегодня</button>
                <button class="btn-filter" id="filter-week">Неделя</button>
                <button class="btn-filter" id="filter-month">Месяц</button>
                <button class="btn-filter" id="filter-year">Год</button>
                <button class="btn-filter" id="filter-all">Все</button>
                <button class="btn-filter" id="filter-interval">Интервал</button>
                <span>с <input type="date" id="dateFrom"> по <input type="date" id="dateTo"></span>
            </div>
             <div id="interval-error" class="form-error-interval">Выберите обе даты для фильтрации по интервалу!</div>
            <table class="transaction-table">
                <thead>
                <tr>
                    <th>№ операции</th>
                    <th>Тип</th>
                    <th>Категория</th>
                    <th>Сумма</th>
                    <th>Дата</th>
                    <th>Комментарий</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="operations"></tbody>
            </table>
    </div>
    <div class="popup-container" id="popup">
        <div class="popup">
            Вы действительно хотите удалить категорию?
            <div class="button-popup">
                <a href="/incomes-expenses" class="btn-create-popup" id="confirmDeleteButton">Да, удалить</a>
                <a href="/incomes-expenses" class="btn-delete-popup" id="cancelDeleteButton">Не удалять</a>
            </div>
        </div>
    </div>
</section>
